body {
    background: #F0E405;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #16ee03;
   font-weight: 350;
   font-size: 2.5rem;
}

.blurb p {
    color: #0248DE;
    font-weight: 350;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #16ee03;
}

#mainNavbar .navbar-brand {
    color: #16ee03;
    font-size: 1.7rem;
}

#headingGroup span {
    color: #16ee03;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #0248DE;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




